section.work {
  padding: 12px 0;
}

.img {
  position: fixed;
  right: 0;
  top: 50vh;
  transform: translateY(-50%);
  width: 70vw;
  max-width: 920px;
  height: 90vh;
  z-index: -1;
  display: none;
  opacity: 0.8;
}

.active {
  display: block;
}