.itemlayer,
.listlayer,
.headinglayer {
  pointer-events: all;
  transition: text-shadow 0.2s;
  position: relative;
  max-width: 100%;
}

.iteminnerlayer,
.imagelayer {
  pointer-events: all;
  transition: 0.2s;
}

.headinglayer {
  z-index: 1;
  display: inline-block;
}

.listlayer {
  margin-left: 64px;
  z-index: 2;
}

@media screen and (max-width: 720px) {
  .listlayer {
    margin-left: 24px;
    padding-right: 24px;
  }
}
