.content {
  display: block;
  text-decoration: none;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  z-index: 10;
  transition: 0.2s;
  padding: 64px 0;
  scroll-snap-type: y mandatory;
}

.categorydesc {
  position: sticky;
  top: 32px;
  left: 48px;
  right: 48px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  z-index: 10;
}

.contenttitle {
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  padding: 8px;
}

.contentdesc {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px;
}

.work {
  position: relative;
  width: 100%;
  flex-basis: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-decoration: none;
  color: #000;
  padding: 48px;
  scroll-snap-align: center;
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  object-fit: cover;
  z-index: -1;
}