@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,138.2,306&display=swap');

.container {
  color: transparent;
  padding: 120px 24px;
  font-family: 'Roboto Flex', sans-serif;
  position: relative;
  letter-spacing: 0.04em;
}

main.main {
  margin: 0 auto;
  max-width: 960px;
  pointer-events: none;
}

h1.h1,
h2.h2,
h3.h3 {
  font-weight: normal;
  display: inline-block;
}

h1.h1 {
  font-size: 70px;
  font-variation-settings: 'wdth' 124, 'wght' 241;
  margin: 0;
}

h2.h2 {
  font-size: 40px;
}

.greetings {
  margin-top: 96px;
}

.works,
.footer {
  margin-top: 40vh;
  width: 100%;
  pointer-events: none;
}

p.subtitle {
  font-size: 36px;
  margin: 0;
  margin-bottom: 12px;
}

.divider {
  width: 80px;
  position: relative;
}

.divider::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 80px;
  height: 1px;
  left: 0;
}
