.container {
  color: rgba(0, 0, 0, 0.8);
}

section.first {
  height: 85vh;
}

section.works {
  max-width: 1000px;
  position: relative;
}

.works>h2 {
  margin-top: 48px;
}

.divider {
  width: 100vw;
  height: 1px;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 50vh;
}

section.work {
  padding: 12px 0;
}

.img {
  position: fixed;
  right: 0;
  top: 50vh;
  transform: translateY(-50%);
  width: 70vw;
  height: 90vh;
  z-index: -1;
}

.footer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}